{% load velocidad_filters %}
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #tools{
        position: fixed;
        top:1.5%;
        right: 1%;
      }
      #select_data{
        border: none;
        cursor: pointer;
        padding: .4em .7em;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
      }
      #select_data:focus{
        outline: none;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="tools">
      <select id="select_data">
        <option value="1">Altitud</option>
        <option value="2">Velocidad</option>
        <option value="3">Grado</option>
      </select>
    </div>
    <script>
      var colors = [];  

      function hsv2rgb(h, s, v) {
        // adapted from http://schinckel.net/2012/01/10/hsv-to-rgb-in-javascript/
        var rgb, i, data = [];
        if (s === 0) {
          rgb = [v,v,v];
        } else {
          h = h / 60;
          i = Math.floor(h);
          data = [v*(1-s), v*(1-s*(h-i)), v*(1-s*(1-(h-i)))];
          switch(i) {
            case 0:
              rgb = [v, data[2], data[0]];
              break;
            case 1:
              rgb = [data[1], v, data[0]];
              break;
            case 2:
              rgb = [data[0], v, data[2]];
              break;
            case 3:
              rgb = [data[0], data[1], v];
              break;
            case 4:
              rgb = [data[2], data[0], v];
              break;
            default:
              rgb = [v, data[0], data[1]];
              break;
          }
        }
        return '#' + rgb.map(function(x){
          return ("0" + Math.round(x*255).toString(16)).slice(-2);
        }).join('');
      };

      var select = document.getElementById("select_data");
      select.onchange = function(){
        if(this.value == 1)
          showAltitude();
        if(this.value == 2)
          showVelocity();
        if(this.value == 3)
          showGrade();
      }

      var altura = [];
      var velocidad = [];
      var grado = [];
      var map;
      var bounds;
      var ridePath;

      function showAltitude(){
        for (var i = 0; i < altura.length; i++) 
          altura[i].setMap(map);
        for (var i = 0; i < velocidad.length; i++) 
          velocidad[i].setMap(null);
        for (var i = 0; i < grado.length; i++)
          grado[i].setMap(null);
      }

      function showVelocity(){
        for (var i = 0; i < altura.length; i++) 
          altura[i].setMap(null);
        for (var i = 0; i < velocidad.length; i++) 
          velocidad[i].setMap(map);
        for (var i = 0; i < grado.length; i++)
          grado[i].setMap(null);
      }

      function showGrade(){
        for (var i = 0; i < altura.length; i++) 
          altura[i].setMap(null);
        for (var i = 0; i < velocidad.length; i++) 
          velocidad[i].setMap(null);
        for (var i = 0; i < grado.length; i++)
          grado[i].setMap(map);
      }

      function initMap() {
        bounds = new google.maps.LatLngBounds();
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 5.537812, lng: -73.3629579},
          zoom: 15,
        });
        {% for value in organized %}
          {% if forloop.counter != organized|length %}
             ridePath = [{lat: {{value.latlng.0}}, lng: {{value.latlng.1}}}, {lat: {{organized|list_nex_lat:forloop.counter0}}, lng: {{organized|list_nex_lng:forloop.counter0}}}];
            altura.push(new google.maps.Polyline({
              path: ridePath,
              geodesic: true,
              strokeColor: hsv2rgb(({{value.data_altitude.color}}*{{intervals}}),1,0.87),
              strokeOpacity: 1.0,
              strokeWeight: 3,
              map:map,
            }));

            velocidad.push(new google.maps.Polyline({
              path: ridePath,
              geodesic: true,
              strokeColor: hsv2rgb(({{value.data_velocity.color}}*{{intervals}}),1,0.87),
              strokeOpacity: 1.0,
              strokeWeight: 3,
              map:null,
            }));

            grado.push(new google.maps.Polyline({
              path: ridePath,
              geodesic: true,
              strokeColor: hsv2rgb(({{value.data_grade.color}}*{{intervals}}),1,0.87),
              strokeOpacity: 1.0,
              strokeWeight: 3,
              map:null,
            }));
          {% endif %}

          bounds.extend(new google.maps.LatLng({{value.latlng.0}}, {{value.latlng.1}}));
        {% endfor %}

        map.fitBounds(bounds);

        ////////////////////// MARCADORES ////////////////////////////
        {% comment %}
        {% for key, value in organized.items %}
          {% for segments in value %}
            var contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<div id="bodyContent">'+
                '<p>{{key}} '+hsv2rgb(({{key}}*{{intervals}}),100,0.6)+' - lat: {{segments.latlng.0}}, lng: {{segments.latlng.1}} alt {{segments.altitude}} </p>'+
                '</div>'+
                '</div>';

            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            var marker = new google.maps.Marker({
              position: {lat: {{segments.latlng.0}}, lng: {{segments.latlng.1}}},
              map: map,
              title: 'test'
            });
              infowindow.open(map, marker);
          {% endfor %}
        {% endfor %}
        {% endcomment %}
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrv6reKzz-H5BHqYpzoGTG7Cs7A8ntaEE&callback=initMap"
    async defer></script>
  </body>
</html>